@import "tailwindcss";

:root {
  --correct-color: #16a016;
  --incorrect-color: #a01616;
}

.correct {
  color: var(--correct-color);
}
.incorrect {
  color: var(--incorrect-color);
}

.questionTitle {
  font-weight: bold;
  font-size: large;
}